{% if section == blank %}
    <p>Please provide section_id property to use this snippet</p>
{% else %}
    {% assign section_id = section.id %}

    {%- assign supply_for_refill = 0 -%}

    {%- for block in section.blocks -%}
        {%- case block.type -%}
            {%- when 'supply_for_refill' -%}
                {%- assign supply_for_refill = block -%}
        {%- endcase -%}
    {%- endfor -%}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            selectProduct('{{ section_id }}_');
        });
    </script>

    {% if settings.show_bf_price == true %}
        {% render 'bf-price-displaying', product: product %}
    {% endif %}

    <div class="mw-402">

    <div class="serum_bl">
        <div class="s_bl_wrapper">
            <div class="supply-detail supply-detail-without-counter pb-0">
                <div class="supply_steps">
                    <div class="step_block">
                        <p class="pb-3">Choose serums:</p>
                        <div class="step_content step_serum serum_image">
                            <div class="serumBlock {{ section_id }}_productTypeObject">
                                <input type="radio" name="mBanner_serum" id="option_for_wrinkles_darkspots" checked>
                                <label class="serum_prd" for="option_for_wrinkles_darkspots">
                                    <div class="serum_img product_type" data-product-type="1">
                                        <img src="{{ 'reju_hydra_blue.webp' | asset_url }}" alt="" class="img-fluid">
                                    </div>
                                    <h4 class="serum_ttl d-block pt-md-3 pt-2"><span>For</span>
                                        Wrinkles <br>+ Dark Spots
                                    </h4>
                                </label>
                            </div>
                            <div class="serumBlock {{ section_id }}_productTypeObject mt-0">
                                <input type="radio" name="mBanner_serum" id="option_for_wrinkles">
                                <label class="serum_prd" for="option_for_wrinkles">
                                    <div class="serum_img product_type" data-product-type="3">
                                        <img src="{{ 'hydra_blue.webp' | asset_url }}" alt="" class="img-fluid">
                                    </div>
                                    <h4 class="serum_ttl flex-row gap-1"><span>For</span>Wrinkles</h4>
                                </label>
                            </div>
                            <div class="serumBlock {{ section_id }}_productTypeObject">
                                <input type="radio" name="mBanner_serum" id="option_for_darkspots">
                                <label class="serum_prd" for="option_for_darkspots">
                                    <div class="serum_img product_type" data-product-type="2">
                                        <img src="{{ 'dark_spots.webp' | asset_url }}" alt="" class="img-fluid">
                                    </div>
                                    <h4 class="serum_ttl flex-row gap-1"><span>For</span>Dark Spots</h4>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="supply_steps month_plan_steps mt-4">
                    <div class="step_block">
                        <p class="pb-3">Choose supply:</p>
                        <div class="step_content">
                            <div class="step_conten_blocks">
                                <div class="planBlock {{ section_id }}_productPeriodObject">
                                    <div class="plan_choosed">
                                        <span>Over 5,000 people chose this supply</span>
                                    </div>
                                    {% assign product = all_products['micro-infusion-3-month-bundle-3x-b-g-serum-3x-e-g-f-serum'] %}
                                    {% assign divided_price = product.price | divided_by: 4 %}
                                    {% assign discount_percentage = product.price | times: 1.0 | divided_by: product.compare_at_price | minus: 1 | abs | times: 100 | ceil %}

                                    <input type="radio" name="mBanner_monthlyPlan" id="mBanner_3_month" checked="" data-product-period="3">
                                    <label class="monthly_plans" for="mBanner_3_month" payment-price="{{ divided_price | money_without_trailing_zeros }}">
                                        <div class="plan_des">
                                            <div class="plan_hdr">
                                                <h3>3 Month Supply</h3>
                                                <span class="saved_price">SAVE {{ discount_percentage }}%</span>
                                            </div>
                                            <div class="plan_des">6 Micro-Infusion Treatments</div>
                                        </div>
                                        <div class="price">
                                            <div class="plan_prc regular_price">{{ product.compare_at_price | money_without_trailing_zeros }}</div>
                                            <div class="plan_prc sale_price ">{{ product.price | money_without_trailing_zeros }}</div>
                                        </div>
                                    </label>
                                </div>
                                <div class="planBlock {{ section_id }}_productPeriodObject">
                                    {% assign product = all_products['micro-infusion-2-month-bundle-2x-b-g-serum-2x-e-g-f-serum'] %}
                                    {% assign divided_price = product.price | divided_by: 4 %}
                                    {% assign discount_percentage = product.price | times: 1.0 | divided_by: product.compare_at_price | minus: 1 | abs | times: 100 | ceil %}

                                    <input type="radio" name="mBanner_monthlyPlan" id="mBanner_2_month" data-product-period="2">
                                    <label class="monthly_plans" for="mBanner_2_month" payment-price="{{ divided_price | money_without_trailing_zeros }}">
                                        <div class="plan_des">
                                            <div class="plan_hdr">
                                                <h3>2 Month Supply</h3>
                                                <span class="saved_price">SAVE {{ discount_percentage }}%</span>
                                            </div>
                                            <div class="plan_des">4 Micro-Infusion Treatments</div>
                                        </div>
                                        <div class="price">
                                            <div class="plan_prc regular_price">{{ product.compare_at_price | money_without_trailing_zeros }}</div>
                                            <div class="plan_prc sale_price">{{ product.price | money_without_trailing_zeros }}</div>
                                        </div>
                                    </label>
                                </div>

                                <div class="planBlock {{ section_id }}_productPeriodObject">
                                    {% assign product = all_products['micro-infusion-1-month-bundle-1x-b-g-serum-1x-e-g-f-serum'] %}
                                    {% assign divided_price = product.price | divided_by: 4 %}
                                    <input type="radio" name="mBanner_monthlyPlan" id="mBanner_1_month" data-product-period="1">
                                    <label class="monthly_plans" for="mBanner_1_month" payment-price="{{ divided_price | money_without_trailing_zeros }}">
                                        <div class="plan_des">
                                            <div class="plan_hdr">
                                                <h3>1 Month Supply</h3>
                                            </div>
                                            <div class="plan_des">2 Micro-Infusion Treatments</div>
                                        </div>
                                        <div class="price">
                                            <div class="plan_prc sale_price igPrice">{{ product.price | money_without_trailing_zeros }}</div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if supply_for_refill != blank %}
                    <div class="next_batch_bl next_batch_highlight mt-4">
                        {% if supply_for_refill.settings.heading != blank %}
                            <h6 class="d-none d-md-block">{{ supply_for_refill.settings.heading }}</h6>
                        {% endif %}

                        {% if supply_for_refill.settings.heading_mobile != blank %}
                            <h6 class="d-md-none">{{ supply_for_refill.settings.heading_mobile }}</h6>
                        {% endif %}
                        
                        {% if supply_for_refill.settings.text != blank %}
                            {{ supply_for_refill.settings.text }}
                        {% endif %}

                        <div class="batch_h batch_h_fade mt-3 mt-md-4">
                            <div class="batch_h_month">{{ supply_for_refill.settings.first_option_date }}</div>
                            <div class="batch_h_info sold_out_h" style="--bgPercent:{{ supply_for_refill.settings.first_option_percent }}%;">
                                <span>{{ supply_for_refill.settings.first_option_text }}</span></div>
                        </div>
                        <div class="batch_h my-2">
                            <div class="batch_h_month">{{ supply_for_refill.settings.second_option_date }}</div>
                            <div class="batch_h_info" style="--bgPercent:{{ supply_for_refill.settings.second_option_percent }}%;">{{ supply_for_refill.settings.second_option_text }}</div>
                        </div>
                        <div class="batch_h batch_h_fade">
                            <div class="batch_h_month">{{ supply_for_refill.settings.third_option_date }}</div>
                            <div class="batch_h_info" style="--bgPercent:{{ supply_for_refill.settings.third_option_percent }}%;"><span>{{ supply_for_refill.settings.third_option_text }}</span></div>
                        </div>
                    </div>

                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            const serumOptions = document.querySelectorAll('input[name="mBanner_serum"]');
                            const supplySteps = document.querySelector(".supply_steps.month_plan_steps");
                            const nextBatchBl = document.querySelector(".next_batch_bl");
                            const buyButton = document.querySelector(".buy_btn");
                            const buyButtonSoldout = document.querySelector(".buy_btn_soldout");
                            let isOptionForWrinklesDarkSpots = false;
                            let isOptionForWrinkles = false;
                            let isOptionForDarkSpots = false;
                
                            const handleSerumChange = () => {
                                let selectedSerum = document.querySelector('input[name="mBanner_serum"]:checked');

                                if(selectedSerum)
                                {
                                    {% if supply_for_refill.settings.option_wrinkles_darkspots %}
                                        let isOptionForWrinklesDarkSpots = selectedSerum.id === "option_for_wrinkles_darkspots";
                                    {% endif %}

                                    {% if supply_for_refill.settings.option_wrinkles %}
                                        let isOptionForWrinkles = selectedSerum.id === "option_for_wrinkles";
                                    {% endif %}

                                    {% if supply_for_refill.settings.option_darkspots %}
                                        let isOptionForDarkSpots = selectedSerum.id === "option_for_darkspots";
                                    {% endif %}

                                    toogleBuySection(isOptionForWrinklesDarkSpots || isOptionForWrinkles || isOptionForDarkSpots);
                                }
                            };

                            const toogleBuySection = (is_target) => {
                                if (is_target === true) {
                                    nextBatchBl.style.display = "block";
                                    supplySteps.style.display = "none";
                                    buyButton.style.display = "none";
                                    buyButtonSoldout.style.display = "block";
                                } else {
                                    nextBatchBl.style.display = "none";
                                    supplySteps.style.display = "block";
                                    buyButton.style.display = "block";
                                    buyButtonSoldout.style.display = "none";
                                }
                            }
                
                            serumOptions.forEach((option) => {
                                option.addEventListener("change", handleSerumChange);
                            });
                
                            handleSerumChange();
                        });
                    </script>
                {% endif %}
            </div>
        </div>

    </div>
    
    {% assign product = all_products['micro-infusion-3-month-bundle-3x-b-g-serum-3x-e-g-f-serum'] %}
    {% assign discount_percentage = product.price | times: 1.0 | divided_by: product.compare_at_price | minus: 1 | abs | times: 100 | ceil %}
    {% assign divided_price = product.price | divided_by: 4 %}
    {% render 'pdm_orderby' %}
    
    <a class="btn btn-lg btn-primary buy_btn mt-3 {{ section_id }}_productButtonObject" href="{{ routes.cart_add_url }}?id={{ product.variants.first.id }}&quantity=1" data-ajax-cart-request-button>Buy Now <span
            class="savedAmount">& SAVE {{ discount_percentage }}%</span><img src="{{ 'arrow_right.svg' | asset_url }}" alt="">
    </a>

    <a class="btn btn-lg btn-primary buy_btn mt-3 buy_btn_soldout" href="#" style="display: none">Sold Out</a>

    <div class="payment_method">
        <p>OR 4 monthly payments of <span class="payment_price">{{ divided_price | money_without_trailing_zeros }}</span> with</p>
        <div class="pmt_img ps-2">
            <img src="{{ 'klarna.svg' | asset_url }}" alt=""><img src="{{ 'afterpay.svg' | asset_url }}" alt=""><img
                src="{{ 'sezzle.svg' | asset_url }}" alt="">
        </div>
    </div>
    <div class="shipping shipping_bg bg-transparent py-0">
        <div class="s_bx">
            <img src="{{ 'dermatologist.svg' | asset_url }}" alt="">
            <p>Dermatologist Reviewed</p>
        </div>
        <div class="s_bx">
            <img src="{{ 'shipping.svg' | asset_url }}" alt="">
            <p class="d-none d-md-block">Free Shipping Over $100</p>
            <p class="d-block d-md-none">Free World-Wide Shipping Over $100</p>
        </div>
    </div>
</div>
{% endif %}

{% capture sticky-button-classname %}{{ section_id }}_productButtonObject{% endcapture %}

{% render 'product-sticky-button' with 
    variant_id: product.variants.first.id, 
    current_price: product.price, 
    original_price: product.compare_at_price, 
    classname: sticky-button-classname
%}