{%- assign product_count = 0 -%}

{%- for block in section.blocks -%}
	{%- case block.type -%}
        {%- when 'product' -%}
            {%- assign product_count = product_count | plus: 1 -%}
    {%- endcase -%}
{%- endfor -%}

<link rel="stylesheet" href="{{ 'homepage_promo.css' | asset_url }}">

<!-- -- main banner start -- -->
<div class="bf_sale-banners">
    <div class="main_banner2">
        <div class="container-fluid px-0">
            <div class="event_content-main">
                <div class="row mx-0">
                    <div class="col-lg-5 px-0">
                        <div class="banner_img pe-none">
                            <div>
                                {% if section.settings.wistia_id != blank %}
                                    <div class="wistia_responsive_padding" style="position:relative;">
                                        <div class="wistia_responsive_wrapper"
                                            style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                            <div class="wistia_embed wistia_async_{{ section.settings.wistia_id }} seo=false videoFoam=true"
                                                style="height:100%;position:relative;width:100%">&nbsp;</div>
                                        </div>
                                    </div>
                                    <script src="https://fast.wistia.com/embed/medias/{{ section.settings.wistia_id }}.jsonp" async></script>
                                    <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="event_pd-content">
                            <div class="banner_bf-text">
                                {% if section.settings.heading != blank %}
                                    <h1 class="mb-0 text-white">{{ section.settings.heading }}</h1>
                                {% endif %}
                                <p>*Excluding Bundles</p>
                                <h5 class="text-white mt-3">
                                    {{ section.settings.subheading 
                                    |  replace: '<p>', '' |  replace: '</p>', '' 
                                    |  replace: '<em>', '<span class="red-line">' |  replace: '</em>', '</span>' 
                                    }}
                                </h5>
                                {%- for block in section.blocks -%}
                                    {% if block.type == 'link' %}
                                        <a href="{{ block.settings.link_url }}" class="btn_black btn" aria-label="{{ block.settings.link_label | escape }}">{{ block.settings.link_label }}</a>
                                    {% endif %}
                                {%- endfor -%}
                            </div>

                            {% if product_count > 0 %}
                                <div class="bf_sale-slider">
                                    <div class="swiper anotherSlider">
                                        <div class="swiper-wrapper">
                                            {%- for block in section.blocks -%}
                                                {% if block.type == 'product' %}
                                                    <div class="swiper-slide">
                                                        <div class="new-slide">
                                                            {% if block.settings.image != blank %}
                                                                <div class="new_img">
                                                                    <img src="{{ block.settings.image | img_url: '540x' }}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid" />
                                                                </div>
                                                            {% endif %}
                                                            <div class="new_content">
                                                                {% if block.settings.heading != blank %}
                                                                    <h4 class="new-header">{{ block.settings.heading }}</h4>
                                                                {% endif %}
                                                                {% if block.settings.product_url != blank %}
                                                                    <a href="{{ block.settings.product_url }}" title="Buy Now" class="btn bg-black text-white rounded-pill">Buy Now<img src="{{ 'arrow-right-sm.svg' | asset_url }}" alt="" class="ms-3"></a>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!-- <div class="new-arrow swiper-button-prev swiper-button d-xl-flex d-none"></div>
                                    <div class="new-arrow  swiper-button-next swiper-button d-xl-flex d-none"></div>

                                    <div class="pagination_navigation d-xl-none">
                                        <div class="swiper-pagination"></div>
                                        <div class="new-arrow swiper-button-prev swiper-button"></div>
                                        <div class="new-arrow  swiper-button-next swiper-button"></div>
                                    </div> -->
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- main banner end -- -->


<!-- -- main banner start -- -->
{% comment %} <div class="main_banner">
    <div class="container-fluid">
        <div class="event_content-main">
            <div class="row">
                <div class="col-lg-4 px-0 order-1 order-md-0">
                    <div class="event_text">
                        <div>
                            <div class="event_banner-text pb-0">
                                <h6 class="mb-0">{{ 
                                    section.settings.heading 
                                        |  replace:  '\n', '<br />' 
                                        |  replace:  'TOGETHER', '<strong>TOGETHER</strong>' 
                                    }}
                                </h6>

                                {% if section.settings.subheading != blank %}
                                    {{ section.settings.subheading 
                                        |  replace: '<p>', '<h1 class="text-center text-md-start mb-md-4 d-md-block d-none">'
                                        |  replace: '</p>', '</h1>'
                                        |  replace:  '\n', '<br />'
                                    }}
                                {% endif %}

                                {% if section.settings.subheading_mobile != blank %}
                                    {{ section.settings.subheading_mobile 
                                        |  replace: '<p>', '<h1 class="text-center text-md-start mb-md-4 d-md-none">'
                                        |  replace: '</p>', '</h1>'
                                        |  replace:  '\n', '<br />'
                                    }}
                                {% endif %}

                                {%- for block in section.blocks -%}
                                    <a href="{{ block.settings.link_url }}" class="btn_black btn" aria-label="{{ block.settings.link_label | escape }}">{{ block.settings.link_label }}</a>
                                {%- endfor -%}

                                {{ 
                                    section.settings.text  
                                    |  replace:  '<p>', '<p class="d-md-none text-start pt-4">' 
                                    |  replace:  '\n', '<br />' 
                                }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-6 px-0">
                    <div class="banner_video pe-none">
                        <div class="d-md-block d-none">
                            <div class="wistia_responsive_padding" style="position:relative;">
                                <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                    <div class="wistia_embed wistia_async_fln6ubun3o seo=false videoFoam=true" style="height:100%;position:relative;width:100%">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                        <div class="d-md-none">
                            <div class="wistia_responsive_padding" style="position:relative;">
                                <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                    <div class="wistia_embed wistia_async_bk5mmtzr63 seo=false videoFoam=true" style="height:100%;position:relative;width:100%">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-6 px-0 order-first order-md-0">
                    <div class="banner_product">
                        <div>
                            <img src="https://qureskincaredns.com/new/assets/banner_product.webp" class="w-100 d-md-block d-none" alt="">
                            <img src="https://qureskincaredns.com/new/assets/banner_prod-mob.webp" class="w-100 pe-4 pe-md-0 d-md-none" alt="">
                            <div class="product_text ps-md-0 ps-1">
                                <h4>THIS OCTOBER</h4>
                                <h5>Receive a free pink headband and a cosmetic pouch with every purchase</h5>

                                {{ 
                                    section.settings.text  
                                    |  replace:  '<p>', '<p class="d-md-block d-none">' 
                                    |  replace:  '\n', '<br />' 
                                }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}
<!-- -- main banner end -- -->

{% schema %}
    {
        "name": "t:sections.main-banner-promotion.name",
        "class": "section-main-banner-promotion",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "t:common.heading.label"
            },
            {
                "type": "text",
                "id": "heading_mobile",
                "label": "t:common.heading.mobile.label"
            },
            {
              "type": "select",
              "id": "heading_tag",
              "label": "Heading tag",
              "options": [
                {
                  "value": "h1",
                  "label": "H1"
                },
                {
                  "value": "h2",
                  "label": "H2"
                }
              ],
              "default": "h2"
            },
            {
                "type": "richtext",
                "id": "subheading",
                "label": "t:common.subheading.label"
            },
            {
                "type": "richtext",
                "id": "subheading_mobile",
                "label": "t:common.subheading.mobile.label"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text.label"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image.label"
            },
            {
                "type": "image_picker",
                "id": "image_mobile",
                "label": "t:common.image_mobile.label"
            },
            {
                "type": "text",
                "id": "wistia_id",
                "label": "t:common.wistia.id.label"
            }
        ],
        "blocks": [
            {
                "type": "product",
                "name": "t:common.product.label",
                "limit": 1,
                "settings": [
                    {
                        "type": "richtext",
                        "id": "heading",
                        "label": "t:common.heading.label"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "t:common.image.label"
                    },
                    {
                        "type": "url",
                        "id": "product_url",
                        "label": "t:common.product.url.label"
                    }
                ]
		    },
            {
			"type": "link",
			"name": "t:sections.main-banner-promotion.blocks.link.name",
            "limit": 1,
			"settings": [
                {
                    "type": "text",
                    "id": "link_label",
                    "default": "Link label",
                    "label": "t:common.link.label",
                    "info": "t:common.link.info"
                },
                {
                    "type": "text",
                    "id": "link_label_mobile",
                    "default": "Link label mobile",
                    "label": "t:common.link.mobile.label",
                    "info": "t:common.link.info"
                },
                {
                    "type": "url",
                    "id": "link_url",
                    "label": "t:common.link.url.label"
                }
			]
		}
        ],
        "presets": [
			{
				"name": "t:sections.main-banner-promotion.name"
			}
        ]
    }
{% endschema %}