<!-- -- main banner start -- -->
<div class="refill_bl pt-0 tabSlider">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-2 order-md-1">
                <div class="w-100" id="faucet_filter">
                    <div class="refill_info pt-0 pt-md-3">
                        {% if product.metafields.reviews.rating_count.value > 0 %}
                            {% render 'product-rating', rating_value: product.metafields.reviews.rating.value, rating_count: product.metafields.reviews.rating_count.value %}
                        {% else %}
                            <div class="refill_review mb-2">
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/star4.8.svg" alt="">
                                </div>
                                <a href="#stamped-main-widget" class="text-dark">
                                    <p class="text-sm fw-normal" style="text-decoration: none;">4.7/5 Rated by
                                        Customers
                                    </p>
                                </a>
                            </div>
                        {% endif %}

                        <div class="section_header text-start">
                            <h1 class="title-xl d-none d-md-block">Get clearer skin, on tap, with Qure Faucet Filter</h1>
                            <h1 class="title-xl d-md-none">Get clearer skin, on tap, with Qure Faucet Filter</h1>
                        </div>

                        {% comment %} <div class="price_wrap">
                            <div class="price">
                                <div class="new_price">
                                    {{ product.price | money_without_trailing_zeros }}
                                </div>
                            </div>
                        </div> {% endcomment %}

                        <div class="mask_select_clr mt-4">
                            <h5>Select color:</h5>
                            <div class="clr_options">
                                <div class="form-check p-0">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="45852978348271" checked>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        <img src="https://qureskincaredns.com/new/assets/water-fIlter-white.webp" alt="white">
                                        <h6>White</h6>
                                    </label>
                                </div>
                                <div class="form-check p-0 position-relative">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="45852978315503">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        <img src="https://qureskincaredns.com/new/assets/water-fIlter-black.webp" alt="black">
                                        <h6>Black</h6>
                                    </label>
                                </div>
                            </div>
                        </div>

                        

                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                const clrOptionsInputs = document.querySelectorAll('.clr_options .form-check-input');
                                const buyButton = document.querySelector('.without_subscription.buy_btn');
                                const subscriptionForm = document.getElementById('SubscriptionForm');

                                clrOptionsInputs.forEach(input => {
                                    input.addEventListener('click', function () {
                                        const variantId = input.value;

                                        if (subscriptionForm) {
                                            const variantIdInput = subscriptionForm.querySelector('input[name="id"]');

                                            if (variantIdInput) variantIdInput.value = variantId;
                                        }

                                        if (buyButton) {
                                            const currentHref = new URL(buyButton.href);
                                            if (currentHref.searchParams.has('id')) {

                                                const newUrl = new URL(window.location.href);
                                                newUrl.searchParams.set('variant', variantId);
                                                history.replaceState(null, '', newUrl.toString());

                                                currentHref.searchParams.set('id', variantId);
                                                buyButton.href = currentHref.toString();
                                            }
                                        }
                                    });
                                });
                            });
                        </script>

                        <div class="mw-452">
                            <div class="ss_list py-4">
                                <ul>
                                    <li>Advanced water filter aids in reducing irritants for clearer,
                                        hydrated skin.</li>
                                    <li>Reduces pore-clogging contaminants and prevents pre-mature aging without
                                        any extra steps in your routine.</li>
                                    <li>Optimizes skincare effectiveness, and provides the most purified cleanse
                                        your skin will drink up.</li>
                                </ul>
                            </div>
                            <div class="subscribe_save_wrapper without_subscription mt-2">
                                <div class="subscribeTopInfo">
                                    <p>MOST POPULAR CHOICE</p>
                                </div>
                                <div class="subscriptionType" data-subscription="subscription">
                                    <div class="subscribe_save_bx d-block">
                                        <div class="subscribeInfo">
                                            <label class="form-check-label w-100" for="flexCheckDefault">
                                                <div class="d-flex justify-content-between">
                                                    <h6>Subscribe & save 30%</h6>
                                                    <div class="subscribePrice">
                                                        <p><span>$129</span>$90.30</p>
                                                    </div>
                                                </div>

                                                <p class="subscribeInfoDesc">3 month replacement filter delivers
                                                    every 90 days for just
                                                    $31.50. Skip or cancel anytime. <a
                                                        href="https://www.qureskincare.com/pages/subscriptions"
                                                        target="_blank">See more details</a></p>
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div class="subscriptionType active" data-subscription="no-subscription">
                                    <div class="noSubscription">
                                        <div class="noSubscriptionText">
                                            One time purchase
                                        </div>
                                        <div class="noSubscriptionPrice">
                                            $129
                                        </div>
                                    </div>

                                    {% if product.variants.first.available %}
                                        <a class="btn btn-lg btn-primary without_subscription buy_btn" href="{{ routes.cart_add_url }}?id={{ product.variants.first.id }}&quantity=1" onclick="setEventProductHandler('{{ product.handle | escape }}')" data-ajax-cart-request-button>{% if section.settings.reserve == true %}Reserve now{% else %}Buy Now{% endif %}</a>
                                    {% else %}
                                        <a class="btn btn-lg btn-primary without_subscription buy_btn" href="#">{% if section.settings.reserve == true %}Reserve now{% else %}Sold Out{% endif %}</a>
                                    {% endif %}

                                    <div class="payment_method without_subscription">
                                        <p>OR pay 4 monthly payments of $32.25 with</p>
                                        <div class="pmt_img ps-2">
                                            <img src="https://qureskincaredns.com/new/assets/klarna.svg" alt="">
                                            <img src="https://qureskincaredns.com/new/assets/sezzle.svg" alt=""><img
                                                src="https://qureskincaredns.com/new/assets/afterpay.svg" alt="">
                                        </div>
                                    </div>
                                </div>

                                <form method="post" action="/cart/add" accept-charset="UTF-8" id="SubscriptionForm" class="shopify-product-form buy-form-{{ product.id }}" enctype="multipart/form-data" data-form-id="{{ product.id }}">
                                    <input type="hidden" name="selling_plan" value="6190465263">
                                    <button type="submit" class="btn btn-lg btn-primary with_subscription buy_btn" onclick="setEventProductHandler('{{ product.handle | escape }}')" name="Submit" value="Submit">
                                        Subscribe Now
                                    </button>
                                    <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                                </form>

                                <div class="shipping shipping_bg bg-transparent">
                                    <div class="s_bx">
                                        <img src="https://qureskincaredns.com/new/assets/dermatologist.svg" alt="">
                                        <p>Dermatologist Reviewed</p>
                                    </div>
                                    <div class="s_bx">
                                        <img src="https://qureskincaredns.com/new/assets/shipping.svg" alt="">
                                        <p class="d-none d-md-block">Free Shipping Over $100</p>
                                        <p class="d-block d-md-none">Free World-Wide Shipping Over $100</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6  order-1 order-md-2">
                <div class="refill_slider refill_slider_3">
                    <div class="refill_s_tab_content">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade mw-mob-100 show active" id="pills-home" role="tabpanel"
                                aria-labelledby="pills-home-tab">
                                <div class="swiper twa__swiper productSlider dot_pagination"
                                    id="twa__swiper-productSlider" data-section-id="productSlider"
                                    data-autoplay="false" data-loop="false" data-centerslide="false"
                                    data-mobile="1" data-tablet="1" data-desktop="1" data-spacing="10"
                                    data-arrowleft="productSlider-swiper-prev"
                                    data-arrowright="productSlider-swiper-next">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide video_popup pe-none">
                                            <div class="wistia_responsive_padding" style="position:relative;">
                                                <div class="wistia_responsive_wrapper"
                                                    style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                    <div class="wistia_embed wistia_async_tev066z6pv seo=false videoFoam=true"
                                                        style="height:100%;position:relative;width:100%">
                                                        <div class="wistia_swatch"
                                                            style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                            <img src="https://fast.wistia.com/embed/medias/tev066z6pv/swatch"
                                                                style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                                alt="" aria-hidden="true"
                                                                onload="this.parentNode.style.opacity=1;" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="https://qureskincaredns.com/new/assets/faucet_flter-pd2.webp" class="img-fluid d-md-block d-none" alt="">
                                            <img src="https://qureskincaredns.com/new/assets/faucet_flter-pd2-mob.webp" class="img-fluid d-md-none" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="https://qureskincaredns.com/new/assets/faucet_flter-pd3.webp" class="img-fluid d-md-block d-none" alt="">
                                            <img src="https://qureskincaredns.com/new/assets/faucet_flter-pd3-mob.webp" class="img-fluid d-md-none" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="https://qureskincaredns.com/new/assets/faucet_flter-pd4.webp" class="img-fluid d-md-block d-none" alt="">
                                            <img src="https://qureskincaredns.com/new/assets/faucet_flter-pd4-mob.webp" class="img-fluid d-md-none" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="https://qureskincaredns.com/new/assets/faucet_flter-pd5.webp" class="img-fluid d-md-block d-none" alt="">
                                            <img src="https://qureskincaredns.com/new/assets/faucet_flter-pd5-mob.webp" class="img-fluid d-md-none" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="https://qureskincaredns.com/new/assets/faucet_flter-pd6.webp" class="img-fluid d-md-block d-none" alt="">
                                            <img src="https://qureskincaredns.com/new/assets/faucet_flter-pd6-mob.webp" class="img-fluid d-md-none" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                aria-labelledby="pills-profile-tab">
                                <div class="swiper twa__swiper realResultSlider dot_pagination"
                                    id="twa__swiper-realResultSlider" data-section-id="realResultSlider"
                                    data-autoplay="false" data-loop="false" data-centerslide="false"
                                    data-mobile="1" data-tablet="1" data-desktop="1" data-spacing="10"
                                    data-arrowleft="realResultSlider-swiper-prev"
                                    data-arrowright="realResultSlider-swiper-next">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <picture id="image-id">
                                                <source media="(min-width:1920px)"
                                                    srcset="https://qureskincaredns.com/new/assets/faucet_flter-result-1n.webp"
                                                    class="img-fluid tab_img" width="350" height="350">
                                                <source media="(min-width:1600px)"
                                                    srcset="https://qureskincaredns.com/new/assets/faucet_flter-result-1n.webp"
                                                    class="img-fluid tab_img" width="350" height="350">
                                                <source media="(min-width:1100px)"
                                                    srcset="https://qureskincaredns.com/new/assets/faucet_flter-result-1n.webp"
                                                    class="img-fluid tab_img" width="350" height="350">
                                                <source media="(min-width:720px)"
                                                    srcset="https://qureskincaredns.com/new/assets/faucet_flter-result-1n.webp"
                                                    class="img-fluid tab_img" width="350" height="350">
                                                <source media="(min-width:540px)"
                                                    srcset="https://qureskincaredns.com/new/assets/faucet_flter-result-1n.webp"
                                                    class="img-fluid tab_img" width="350" height="350">
                                                <img src="https://qureskincaredns.com/new/assets/faucet_flter-result-1n.webp" alt=""
                                                    class="img-fluid tab_img" width="100" height="100">
                                            </picture>
                                        </div>
                                        <div class="swiper-slide">
                                            <a class="banner-popup-link" id="popup-link">
                                                <picture id="image-id">
                                                    <source media="(min-width:1920px)"
                                                        srcset="https://qureskincaredns.com/new/assets/faucet_flter-result-2n.webp"
                                                        class="img-fluid tab_img" width="350" height="350">
                                                    <source media="(min-width:1600px)"
                                                        srcset="https://qureskincaredns.com/new/assets/faucet_flter-result-2n.webp"
                                                        class="img-fluid tab_img" width="350" height="350">
                                                    <source media="(min-width:1100px)"
                                                        srcset="https://qureskincaredns.com/new/assets/faucet_flter-result-2n.webp"
                                                        class="img-fluid tab_img" width="350" height="350">
                                                    <source media="(min-width:720px)"
                                                        srcset="https://qureskincaredns.com/new/assets/faucet_flter-result-2n.webp"
                                                        class="img-fluid tab_img" width="350" height="350">
                                                    <source media="(min-width:540px)"
                                                        srcset="https://qureskincaredns.com/new/assets/faucet_flter-result-2n.webp"
                                                        class="img-fluid tab_img" width="350" height="350">
                                                    <img src="https://qureskincaredns.com/new/assets/faucet_flter-result-2n.webp" alt=""
                                                        class="img-fluid tab_img" width="100" height="100">
                                                </picture>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-dermatologist" role="tabpanel"
                                aria-labelledby="pills-dermatologist-tab">
                                <div class="swiper twa__swiper dermatologistSlider dot_pagination"
                                    id="twa__swiper-dermatologistSlider" data-section-id="dermatologistSlider"
                                    data-autoplay="false" data-loop="false" data-centerslide="false"
                                    data-mobile="1" data-tablet="1" data-desktop="1" data-spacing="10"
                                    data-arrowleft="dermatologistSlider-swiper-prev"
                                    data-arrowright="dermatologistSlider-swiper-next">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide video_popup1">
                                            <div class="banner_img position-relative">
                                                <img src="https://qureskincaredns.com/new/assets/led-lp-transparent.webp" alt=""
                                                    class="img-fluid tab_img d-none d-md-block">
                                                <img src="https://qureskincaredns.com/new/assets/led-lp-transparentmob.webp" alt=""
                                                    class="img-fluid d-block d-md-none">
                                                <a
                                                    class="popup-youtube1 position-absolute top-0 bottom-0 start-0 end-0">
                                                    <div class="wistia_responsive_padding"
                                                        style="position:relative;">
                                                        <div class="wistia_responsive_wrapper"
                                                            style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                            <div class="wistia_embed wistia_async_mldew3t0p6 seo=false videoFoam=true  h-100 rounded"
                                                                style="height:100%;position:relative;width:100%;display:flex;align-items:center;">
                                                                <div class="wistia_swatch"
                                                                    style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                                    <img src="https://fast.wistia.com/embed/medias/mldew3t0p6/swatch"
                                                                        style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                                        alt="" aria-hidden="true"
                                                                        onload="this.parentNode.style.opacity=1;" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="refill_s_tab">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-home" type="button" role="tab"
                                    aria-controls="pills-home" aria-selected="true">Product</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-profile" type="button" role="tab"
                                    aria-controls="pills-profile" aria-selected="false">Real
                                    Results</button>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-dermatologist-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-dermatologist" type="button" role="tab"
                                    aria-controls="pills-dermatologist"
                                    aria-selected="true">Dermatologist</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- main banner end -- -->

<!-- -- press slider start -- -->
<div class="press_bl bg-lightGrey mt-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="ps_wrapper align-items-center">
                    <div class="ps_item">
                        <img src="https://qureskincaredns.com/new/assets/vogue2.svg" alt="" class="img-fluid">
                    </div>
                    <div class="ps_item d-none d-md-block">
                        <img src="https://qureskincaredns.com/new/assets/women_health.svg" alt="" class="img-fluid">
                    </div>
                    <div class="ps_item d-none d-md-block">
                        <img src="https://qureskincaredns.com/new/assets/cosmopolitan2.svg" alt="" class="img-fluid">
                    </div>
                    <div class="ps_item">
                        <img src="https://qureskincaredns.com/new/assets/elle2.svg" alt="" class="img-fluid">
                    </div>
                    <div class="ps_item">
                        <img src="https://qureskincaredns.com/new/assets/marie.svg" alt="" class="img-fluid">
                    </div>
                    <div class="ps_item">
                        <img src="https://qureskincaredns.com/new/assets/grazia2.svg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- -- press slider end -- -->

<!-- -- image with text start -- -->
<div class="imageText section qure_MI_ftr_wrap">
    <div class="container">
        <div class="hollywood_skin mt-0">
            <div class="row align-items-center">
                <div class="col-12 col-md-5">
                    <!-- <div class="it_img pb-3 pb-md-0 mw-mob-100">
                        <div class="wistia_responsive_padding d-none d-md-block" style="position:relative;">
                            <div class="wistia_responsive_wrapper"
                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                <div class="wistia_embed wistia_async_a1pykz2tp0 seo=false videoFoam=true"
                                    style="height:100%;position:relative;width:100%">&nbsp;</div>
                            </div>
                        </div>
                        <div class="wistia_responsive_padding d-block d-md-none" style="position:relative;">
                            <div class="wistia_responsive_wrapper"
                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                <div class="wistia_embed wistia_async_6ffu0xdg6l seo=false videoFoam=true"
                                    style="height:100%;position:relative;width:100%">&nbsp;</div>
                            </div>
                        </div>
                    </div> -->
                    <img src="https://qureskincaredns.com/new/assets/faucet_flter-pd.webp" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-md-7">
                    <div class="it_info p-0 ps-md-5 pt-md-0 pt-3">
                        <h2 class="title-lg mb-3">360° Nozzle for Precise Water Direction</h2>
                        <div class="nozzel_benefit mw-493 py-4">
                            <div class="row">
                                <div class="col-4">
                                    <div class="text-center">
                                        <img src="https://qureskincaredns.com/new/assets/restart.svg" alt="">
                                        <p class="pt-3">Easy Toggle Options</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="text-center">
                                        <img src="https://qureskincaredns.com/new/assets/water_tap.svg" alt="">
                                        <p class="pt-3">99%<br class="d-md-none"> Faucet Fit</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="text-center">
                                        <img src="https://qureskincaredns.com/new/assets/verfied_sheild.svg" alt="">
                                        <p class="pt-3">Lifetime Warranty</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="fw-normal">Our patent pending 360° nozzle offers precise and adjustable
                            filtered water
                            direction, making it suitable for all sink sizes.</p>
                        <a href="#faucet_filter" class="mt-4 btn btn-lg btn-primary mw-268 fw-medium">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- image with text end -- -->

<!-- -- 6 reasons section start -- -->
<div class="reasons section bg-transparent pb-md-0" id="reasons_section">
    <div class="container">
        <div class="row">
            <div class="section_header text-center mb-3">
                <h2 class="title-lg">
                    5 reasons why everyone is<br class="d-none d-md-block"> tapping into a whole new side of
                    skincare
                </h2>
            </div>
            <div class="reasons_wrapper">
                <div class="rs_item-main">
                    <div class="rs_item">
                        <div class="r_use_img">
                            <img src="https://qureskincaredns.com/new/assets/mi_pdp-reason7.svg" alt="">
                        </div>
                        <div class="rs_item_content">
                            <p>Enhances the effectiveness of topical products with a clean skin base</p>
                        </div>
                    </div>
                </div>
                <div class="rs_item-main">
                    <div class="rs_item">
                        <div class="r_use_img">
                            <img src="https://qureskincaredns.com/new/assets/mi_pdp-reason11.svg" alt="">
                        </div>
                        <div class="rs_item_content">
                            <p>Reduces appearance of wrinkles and prevents premature ageing </p>
                        </div>
                    </div>
                </div>
                <div class="rs_item-main">
                    <div class="rs_item">
                        <div class="r_use_img">
                            <img src="https://qureskincaredns.com/new/assets/mi_pdp-reason8.svg" alt="">
                        </div>
                        <div class="rs_item_content">
                            <p>Increases skin hydration and improves skin barrier</p>
                        </div>
                    </div>
                </div>
                <div class="rs_item-main">
                    <div class="rs_item">
                        <div class="r_use_img">
                            <img src="https://qureskincaredns.com/new/assets/mi_pdp-reason9.svg" alt="">
                        </div>
                        <div class="rs_item_content">
                            <p>Reduces pore clogging contaminants for less breakouts and clearer skin</p>
                        </div>
                    </div>
                </div>
                <div class="rs_item-main">
                    <div class="rs_item">
                        <div class="r_use_img">
                            <img src="https://qureskincaredns.com/new/assets/mi_pdp-reason10.svg" alt="">
                        </div>
                        <div class="rs_item_content">
                            <p>Decreases redness and irritation, great for sensitive skin</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- 6 reasons section end -- -->

<!-- -- result section start -- -->
<div class="result_s section mi_landing_result" id="result_section">
    <div class="container">
        <div class="section_header text-center ms-0 mb-md-4 m-md-auto">
            <h2 class="title-lg">
                The results are crystal clear
            </h2>
        </div>
        <div class="result_s_wrapper">
            <div class="swiper dot_pagination result_slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_kim_l.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/australia_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Kim L.</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Source of my unclear skin</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in Australia</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I didn’t realize how big impact water has on our skin... I almost got
                                        used to
                                        my skin never getting better than mediocre, but this Water Filter is a
                                        game changer in my skincare routine.”</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item h-100">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_hanna.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/england_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Hanna</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Hydrated more than ever</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United Kingdom</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p class="pb-0">“I never had any major issues with skin before I moved. Then
                                        I started to
                                        get irritation and my makeup would look cakey cause my skin was always
                                        so dry no matter what moisturiser I used...</p>
                                    <div class="read-more-content">
                                        <p class="nomargin">I didn’t change anything in my skincare routine
                                            except filtered water. I’m never washing my face with anything less
                                            than Q-urified water because my skin is so much better.”</p>
                                    </div>
                                    <a href="javascript:void(0);" class="read-more" title="Read More">See
                                        More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_josie.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Josie</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Acne and dryness gone</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“My skin has cleared up so much thanks to Qure! I use the LED mask and
                                        water filter daily and it’s cleared up my acne, and my complexion so
                                        much smoother and less red! My skin feels soft and hydrated. I can
                                        actually walk out of the house without makeup now. THANK YOU QURE!!!”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination_navigation">
                    <div class="swiper-pagination"></div>
                    <div class="qureSlider-swiper-prev swiper-button-prev swiper-button"></div>
                    <div class="qureSlider-swiper-next  swiper-button-next swiper-button"></div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- -- result section end -- -->

<!-- -- ingredients list start -- -->
<div class="ingredients_list">
    <div class="container">
        <div class="section_header text-center ms-0 m-md-auto">
            <h2 class="title-lg">
                It’s time to look toward your faucet, not (just) your ingredients list.
            </h2>
            <p>Research has shown tap water is contaminated with over 320* chemicals that your skin is
                absorbing daily. That water hardness is a contributor to <a
                    href="https://www.sciencedirect.com/science/article/pii/S0022202X1732938X"
                    class="text-decoration-underline">skin barrier impairment,</a> including
                worsened atopic <a href="https://pubmed.ncbi.nlm.nih.gov/33259122/"
                    class="text-decoration-underline">eczema</a> and <a
                    href="https://pubmed.ncbi.nlm.nih.gov/27241890/" class="text-decoration-underline"> atopic
                    dermatitis.</a> And not just from the
                well-known culprit chlorine
                – but also calcium and magnesium.</p>
        </div>
        <div class="ingredients_content">
            <div class="row gy-3">
                <div class="col-md-4 col-sm-6">
                    <div class="ingredient">
                        <div class="ingredient_flag flag3">
                            <p>Known irritant</p>
                        </div>
                        <div class="ingredients_text">
                            <p class="fw-bold">Chlorine</p>
                            <p>Traditionally added to kill bacteria. Chlorine can deplete the skin of the
                                natural oils that hold moisture in, leading to dry and itchy skin. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 pt-5 pt-md-0">
                    <div class="ingredient">
                        <div class="ingredient_flag flag2">
                            <p>Long-term damage!</p>
                        </div>
                        <div class="ingredients_text">
                            <p class="fw-bold">Magnesium</p>
                            <p>Magnesium can result in the formation of free radicals which damage healthy skin
                                cells and break down collagen, resulting in fine lines and wrinkles. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 pt-5 pt-md-0">
                    <div class="ingredient">
                        <div class="ingredient_flag flag1">
                            <p>Most harmful</p>
                        </div>
                        <div class="ingredients_text">
                            <p class="fw-bold">Calcium</p>
                            <p>Calcium can irritate the skin, causing dry, scaly, pinkish patches. It can also
                                clog pores, which can lead to blackheads, blemishes, and/or rosacea. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gy-3 pt-4">
                <div class="col-md-4 col-sm-6">
                    <div class="row">
                        <div class="col-6">
                            <div class="ingredients_img border-end">
                                <img src="https://qureskincaredns.com/new/assets/rust.svg" alt="">
                                <p>Rust</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="ingredients_img">
                                <img src="https://qureskincaredns.com/new/assets/Algae.svg" alt="">
                                <p>Algae</p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="text-center px-4">
                                <p>Mud, rust and micro-contaminants in water can irritate sensitive skin.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="row">
                        <div class="col-6">
                            <div class="ingredients_img border-end">
                                <img src="https://qureskincaredns.com/new/assets/Micro-plastics.svg" alt="">
                                <p>Micro-plastics</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="ingredients_img">
                                <img src="https://qureskincaredns.com/new/assets/micro-organisms.svg" alt="">
                                <p>Micro-organisms</p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="text-center px-4">
                                <p>Microplastics can cause micro-abrasions and damage sensitive skin.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="row">
                        <div class="col-6">
                            <div class="ingredients_img border-end">
                                <img src="https://qureskincaredns.com/new/assets/lead-particles.svg" alt="">
                                <p>Lead particles</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="ingredients_img">
                                <img src="https://qureskincaredns.com/new/assets/many-more.svg" alt="">
                                <p>Many more</p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="text-center px-4">
                                <p>Hard water can have hard metals or excess Mg2+ and Ca2+ that can clog and
                                    irritate the skin.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section_header text-start py-5 text-md-center ms-0 m-md-auto">
            <h6 class="n_sub-heading">Perfect for</h6>
        </div>
        <div class="skin_problems mw-932">
            <div class="problem_inner">
                <img src="https://qureskincaredns.com/new/assets/acne_skin.webp" class="img-fluid" alt="">
                <div class="pt-4">
                    <p><img src="https://qureskincaredns.com/new/assets/correct_circle.svg" alt="">Acne prone skin</p>
                </div>
            </div>
            <div class="problem_inner">
                <img src="https://qureskincaredns.com/new/assets/rosacea.webp" class="img-fluid" alt="">
                <div class="pt-4">
                    <p><img src="https://qureskincaredns.com/new/assets/correct_circle.svg" alt="">Rosacea</p>
                </div>
            </div>
            <div class="problem_inner">
                <img src="https://qureskincaredns.com/new/assets/dry_skin.webp" class="img-fluid" alt="">
                <div class="pt-4">
                    <p><img src="https://qureskincaredns.com/new/assets/correct_circle.svg" alt="">Dry skin</p>
                </div>
            </div>
            <div class="problem_inner">
                <img src="https://qureskincaredns.com/new/assets/sensitive_skin.webp" class="img-fluid" alt="">
                <div class="pt-4">
                    <p><img src="https://qureskincaredns.com/new/assets/correct_circle.svg" alt="">Sensitive skin</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- ingredients list end -- -->

<!-- -- featured promotion start -- -->
<div class="featured_promotion my-5 bg-lightGrey d-none d-md-block">
    <div class="container">
        <div class="fp-wrapper">
            <div class="fp_item">
                <div class="fp_icon">
                    <img src="https://qureskincaredns.com/new/assets/free-shipping-ftr.svg" alt="">
                </div>
                <div class="fp_icon_text">
                    <p>Free Shipping </p>
                    <p>Orders Over $100</p>
                </div>
            </div>
            <div class="fp_item">
                <div class="fp_icon">
                    <img src="https://qureskincaredns.com/new/assets/buy-now-ftr.svg" alt="">
                </div>
                <div class="fp_icon_text">
                    <p>Buy Now,</p>
                    <p>Pay Later</p>
                </div>
            </div>
            <div class="fp_item">
                <div class="fp_icon">
                    <img src="https://qureskincaredns.com/new/assets/derma-ftr.svg" alt="">
                </div>
                <div class="fp_icon_text d-none d-md-block">
                    <p>Dermatologist Tested </p>
                    <p>&amp; Approved</p>
                </div>
                <div class="fp_icon_text d-block d-md-none">
                    <p>Dermatologist</p>
                    <p>Reviewed &amp; Approved</p>
                </div>
            </div>
            <div class="fp_item">
                <div class="fp_icon">
                    <img src="https://qureskincaredns.com/new/assets/science-ftr.svg" alt="">
                </div>
                <div class="fp_icon_text">
                    <p>Proven Results, </p>
                    <p>Backed by science</p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- -- featured promotion end -- -->

<!-- -- trusted section start -- -->
<div class="trusted_bl section pb-0 trustedVerified">
    <div class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 order-2 order-lg-1">
                    <div class="trusted_left mw-600">
                        <div class="section_header pt-md-0 pt-3 pb-0  mw-100">
                            <div class="trusted_verified d-md-flex d-none"><img src="https://qureskincaredns.com/new/assets/verified_design.svg"
                                    alt="">
                                <p>Trusted and recommended by world leading Dermatologists</p>
                            </div>
                            <h2 class="title-lg">"Harsh water<span style="color: #797D7C;"> can definitely
                                    damage your skin on daily basis and it</span> impacts everything you are
                                doing with your skincare"</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 order-1 order-lg-2">
                    <div class="trusted_cl_m mb-2 mb-md-0">
                        <img src="https://qureskincaredns.com/new/assets/dr.maxfield.webp?rnd=1" alt="" class="img-fluid t_m_img">
                        <div class="play_btn trustedVerified_Play">
                            <div>
                                <h5>Dr Maxfield, MD</h5>
                                <h6>Board certified dermatologist</h6>
                            </div>
                            <a class="popup-youtube"
                                href="https://www.youtube.com/watch?v=QuJ3puVLKzU"><span><img
                                        src="https://qureskincaredns.com/new/assets/trusted_play_sm.svg" alt="" class="">
                                </span></a>
                        </div>
                    </div>
                    <div class="trusted_verified d-md-none mt-5"><img src="https://qureskincaredns.com/new/assets/verified_design.svg" alt="">
                        <p>Trusted and recommended by world leading Dermatologists</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="section_header ms-0 pb-md-0 text-md-start text-center">
                <h2 class="title-lg">
                    How to install
                </h2>
            </div>
            <div class="how_to-install pb-md-0 pb-4">
                <div class="row align-items-end pb-md-4">
                    <div class="col-lg-9 col-sm-7">
                        <div class="row d-lg-flex d-none">
                            <div class="col-lg-4 col-md-6">
                                <div class="step_cards">
                                    <div class="step_flag">
                                        <p>STEP 1</p>
                                    </div>
                                    <img src="https://qureskincaredns.com/new/assets/faucet_use_s_1.webp" alt="" class="img-fluid">
                                    <div class="step_text">
                                        <p>Remove faucet aerator. Simply attach and twist it off using the key
                                            for
                                            removal.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="step_cards">
                                    <div class="step_flag">
                                        <p>STEP 2</p>
                                    </div>
                                    <img src="https://qureskincaredns.com/new/assets/faucet_use_s_2.webp" alt="" class="img-fluid">
                                    <div class="step_text">
                                        <p>Find the faucet thread accessory which best fits your faucet size.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="step_cards">
                                    <div class="step_flag">
                                        <p>STEP 3</p>
                                    </div>
                                    <img src="https://qureskincaredns.com/new/assets/faucet_use_s_3.webp" alt="" class="img-fluid">
                                    <div class="step_text">
                                        <p>Clip Qure Faucet Filter onto the faucet. Once you hear it click it is
                                            installed. Turn the toggle button to “Q” mark on the filter ans
                                            enjoy healthier, clearer skin!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="steps_tabs d-lg-none">
                            <ul class="nav nav-tabs d-flex justify-content-center border-0" id="myTab"
                                role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                        data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                        aria-selected="true">STEP 1</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                        data-bs-target="#profile" type="button" role="tab"
                                        aria-controls="profile" aria-selected="false">STEP 2</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab"
                                        data-bs-target="#contact" type="button" role="tab"
                                        aria-controls="contact" aria-selected="false">STEP 3</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                    aria-labelledby="home-tab">
                                    <div class="step_cards">
                                        <img src="https://qureskincaredns.com/new/assets/faucet_use_s_1.webp" alt="" class="img-fluid">
                                        <div class="step_text">
                                            <p>Remove faucet aerator. Simply attach and twist it off using the
                                                key for removal.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel"
                                    aria-labelledby="profile-tab">
                                    <div class="step_cards">
                                        <img src="https://qureskincaredns.com/new/assets/faucet_use_s_2.webp" alt="" class="img-fluid">
                                        <div class="step_text">
                                            <p>Find the faucet thread accessory which best fits your faucet
                                                size.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="contact" role="tabpanel"
                                    aria-labelledby="contact-tab">
                                    <div class="step_cards">
                                        <img src="https://qureskincaredns.com/new/assets/faucet_use_s_3.webp" alt="" class="img-fluid">
                                        <div class="step_text">
                                            <p>Clip Qure Faucet Filter onto the faucet. Once you hear it click
                                                it is installed. Turn the toggle button to “Q” mark on the
                                                filter ans enjoy healthier, clearer skin!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-5 order-first order-md-0">
                        <div class="actVideo_block">
                            <div class="ctmVideo__block">
                                <div class="player">
                                    <div class="wistia_responsive_padding" style="position:relative;">
                                        <div class="wistia_responsive_wrapper"
                                            style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                            <div class="wistia_embed wistia_async_ejhd901ecq seo=false videoFoam=true"
                                                style="height:100%;position:relative;width:100%">
                                                <div class="wistia_swatch"
                                                    style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                    <img src="https://fast.wistia.com/embed/medias/ejhd901ecq/swatch"
                                                        style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                        alt="" aria-hidden="true"
                                                        onload="this.parentNode.style.opacity=1;" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- trusted section end -- -->

<!-- -- advanced filtration start -- -->
<div class="advanced-filtration section">
    <div class="container">
        <div class="section_header text-center ms-0 m-md-auto">
            <h2 class="title-lg">
                4-Stage Advanced Filtration Technology
            </h2>
            <p>Qure’s Faucet Filter uses an advanced carbon filter – the preferred and most effective method.
            </p>
        </div>
        <div class="mw-970">
            <div class="row gy-3">
                <div class="col-md-4">
                    <div class="filter_benefit text-center">
                        <img src="https://qureskincaredns.com/new/assets/descaling.svg" alt="" class="pb-md-3">
                        <div class="text-md-center text-start">
                            <h6>ASP (descaling)</h6>
                            <p>Reduces limescale buildup, which, when left untreated, can dry out your skin.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="filter_benefit text-center">
                        <img src="https://qureskincaredns.com/new/assets/metal.svg" alt="" class="pb-md-3">
                        <div class="text-md-center text-start">
                            <h6>Heavy metal reduction layer</h6>
                            <p>Targets heavy metals like lead.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="filter_benefit text-center">
                        <img src="https://qureskincaredns.com/new/assets/Ultrafilter.svg" alt="" class="pb-md-3">
                        <div class="text-md-center text-start">
                            <h6>Ultrafilter</h6>
                            <p>A very fine filter (down to 0.01 microns), it removes tiny particles like sand
                                and bacteria.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter_comparsion section">
            <div class="row align-items-center gy-3">
                <div class="col-md-6">
                    <div class="comparsion">
                        <div class="comparsion_inner">
                            <div class="image-container">
                                <img class="image-before slider-image" src="https://qureskincaredns.com/new/assets/other-water-filter.webp"
                                    alt="color photo" />
                                <img class="image-after slider-image" src="https://qureskincaredns.com/new/assets/qure-faucet-filter.png"
                                    alt="black and white" />
                            </div>
                            <!-- step="10" -->
                            <input type="range" min="0" max="100" value="50"
                                aria-label="Percentage of before photo shown" class="slider" />
                            <div class="slider-line" aria-hidden="true"></div>
                            <div class="slider-button" aria-hidden="true">
                                <img src="https://qureskincaredns.com/new/assets/slider_arrows.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row gy-3">
                        <div class="col-12 pb-1">
                            <div class="row align-items-center">
                                <div class="col-md-4 col-6">
                                    <div class="filter_info">
                                        <h5 class="mb-0">1</h5>
                                        <p>Carbon filter</p>
                                    </div>
                                </div>
                                <div class="col-md-8 col-6">
                                    <p>Removes up to 99.9% chlorine & contaminants</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 pb-1">
                            <div class="row align-items-center">
                                <div class="col-md-4 col-6">
                                    <div class="filter_info">
                                        <h5 class="mb-0">2</h5>
                                        <p>Ultra filter</p>
                                    </div>
                                </div>
                                <div class="col-md-8 col-6">
                                    <p>Reduces tiny particles</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 pb-1">
                            <div class="row align-items-center">
                                <div class="col-md-4 col-6">
                                    <div class="filter_info">
                                        <h5 class="mb-0">3</h5>
                                        <p>Descaler</p>
                                    </div>
                                </div>
                                <div class="col-md-8 col-6">
                                    <p>Reduces limescale buildup</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row align-items-center">
                                <div class="col-md-4 col-6">
                                    <div class="filter_info">
                                        <h5 class="mb-0">4</h5>
                                        <p>Reduction layer</p>
                                    </div>
                                </div>
                                <div class="col-md-8 col-6">
                                    <p>Reduces heavy metals</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- advanced filtration end -- -->

<!-- Video blocks -->
<div class="section videosQure bg-lightGrey">
    <div class="container">
        <div class="section_header text-center mb-3 mw-630 pb-0">
            <h2 class="title-lg">
                No (editing) filters were used in the making of these videos
            </h2>
            <p>The people, the reviews, and the Qure Filter? All 100% real.</p>
        </div>
        <div class="videoInfo">
            <div class="swiper twa__swiper qureSlider dot_pagination" id="twa__swiper-qureSlider"
                data-section-id="qureSlider" data-autoplay="false" data-loop="false" data-centerslide="false"
                data-mobile="1" data-tablet="6" data-desktop="4" data-spacing="20"
                data-arrowleft="qureSliderVideo-swiper-prev" data-arrowright="qureSliderVideo-swiper-next">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="videosQure_exernal">
                            <div class="wistia_responsive_padding" style="position:relative;">
                                <div class="wistia_responsive_wrapper"
                                    style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                    <div class="wistia_embed wistia_async_0gqtwwjamc seo=false videoFoam=true"
                                        style="height:100%;position:relative;width:100%">
                                        <div class="wistia_swatch"
                                            style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                            <img src="https://fast.wistia.com/embed/medias/0gqtwwjamc/swatch"
                                                style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                alt="" aria-hidden="true"
                                                onload="this.parentNode.style.opacity=1;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="videosQure_exernal">
                            <div class="wistia_responsive_padding" style="position:relative;">
                                <div class="wistia_responsive_wrapper"
                                    style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                    <div class="wistia_embed wistia_async_cxcun6wr2a seo=false videoFoam=true"
                                        style="height:100%;position:relative;width:100%">
                                        <div class="wistia_swatch"
                                            style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                            <img src="https://fast.wistia.com/embed/medias/cxcun6wr2a/swatch"
                                                style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                alt="" aria-hidden="true"
                                                onload="this.parentNode.style.opacity=1;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="videosQure_exernal">
                            <div class="wistia_responsive_padding" style="position:relative;">
                                <div class="wistia_responsive_wrapper"
                                    style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                    <div class="wistia_embed wistia_async_hizkyyq379 seo=false videoFoam=true"
                                        style="height:100%;position:relative;width:100%">
                                        <div class="wistia_swatch"
                                            style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                            <img src="https://fast.wistia.com/embed/medias/hizkyyq379/swatch"
                                                style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                alt="" aria-hidden="true"
                                                onload="this.parentNode.style.opacity=1;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="videosQure_exernal">
                            <div class="wistia_responsive_padding" style="position:relative;">
                                <div class="wistia_responsive_wrapper"
                                    style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                    <div class="wistia_embed wistia_async_l9467wmx0n seo=false videoFoam=true"
                                        style="height:100%;position:relative;width:100%">
                                        <div class="wistia_swatch"
                                            style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                            <img src="https://fast.wistia.com/embed/medias/l9467wmx0n/swatch"
                                                style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                alt="" aria-hidden="true"
                                                onload="this.parentNode.style.opacity=1;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="videosQure_exernal">
                            <div class="wistia_responsive_padding" style="position:relative;">
                                <div class="wistia_responsive_wrapper"
                                    style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                    <div class="wistia_embed wistia_async_kcdps5ford seo=false videoFoam=true"
                                        style="height:100%;position:relative;width:100%">
                                        <div class="wistia_swatch"
                                            style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                            <img src="https://fast.wistia.com/embed/medias/kcdps5ford/swatch"
                                                style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                alt="" aria-hidden="true"
                                                onload="this.parentNode.style.opacity=1;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="videosQure_exernal">
                            <div class="wistia_responsive_padding" style="position:relative;">
                                <div class="wistia_responsive_wrapper"
                                    style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                    <div class="wistia_embed wistia_async_wj0ao3l2s1 seo=false videoFoam=true"
                                        style="height:100%;position:relative;width:100%">
                                        <div class="wistia_swatch"
                                            style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                            <img src="https://fast.wistia.com/embed/medias/wj0ao3l2s1/swatch"
                                                style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                alt="" aria-hidden="true"
                                                onload="this.parentNode.style.opacity=1;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="videosQure_exernal">
                            <div class="wistia_responsive_padding" style="position:relative;">
                                <div class="wistia_responsive_wrapper"
                                    style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                    <div class="wistia_embed wistia_async_zitq7o30sn seo=false videoFoam=true"
                                        style="height:100%;position:relative;width:100%">
                                        <div class="wistia_swatch"
                                            style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                            <img src="https://fast.wistia.com/embed/medias/zitq7o30sn/swatch"
                                                style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                alt="" aria-hidden="true"
                                                onload="this.parentNode.style.opacity=1;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination_navigation">
                    <div class="swiper-pagination"></div>
                    <div class="qureSliderVideo-swiper-prev swiper-button-prev swiper-button"></div>
                    <div class="qureSliderVideo-swiper-next  swiper-button-next swiper-button"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Video blocks end-->

<!-- -- beauty clinical start -- -->
<div class="beauty_skincare section bg-white">
    <div class="container">
        <div class="section_header text-center mb-3">
            <h2 class="title-lg paddingB">
                More effective and safer than other filters
            </h2>
            <p>Other filtration systems focus on just chlorine removal, but calcium and magnesium are the true
                skin-barrier disruptors. With the Qure Faucet Filter, you get the best science-backed,
                dermatologist-approved solution to filtered water at home for better skin…</p>
        </div>
        <div class="bs_grid">
            <div class="bs_item">
                <div class="bs_img">
                    <img src="https://qureskincaredns.com/new/assets/qure-faucet-filter.webp" alt="" class="img-fluid beauty_img">
                    <!-- <img src="https://qureskincaredns.com/new/assets/qure-faucet-filter.webp" alt="" class="img-fluid beauty_img d-md-none"> -->
                </div>
                <div class="mw-268 mx-auto">
                    <div class="bs_content border-0 text-start pb-0">
                        <h4 class="d-none d-md-block border-0">Qure Faucet Filter</h4>
                        <!-- <h4 class="d-block d-md-none"><span class="fw-bold">Qure</span><br>Dermal Mist</h4> -->
                    </div>
                    <div class="bs_feature correctCircle">
                        <ul class="rightCircle">
                            <li>Reduces chlorine</li>
                            <li>Reduces calcium</li>
                            <li>Reduces magnesium</li>
                            <li>Made with advanced filtration</li>
                            <li>Lifetime warranty</li>
                            <li>Patented 360° nozzle</li>
                            <li>Fits 99% of faucets</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bs_vs_item">
                <div class="bs_versace">
                    <span>vs</span>
                </div>
            </div>
            <div class="bs_item">
                <div class="bs_img">
                    <img src="https://qureskincaredns.com/new/assets/other-filter.webp" alt="" class="img-fluid">
                </div>
                <div class="mw-268 mx-auto">
                    <div class="bs_content border-0 text-start pb-0">
                        <h4 class="border-0 d-none d-md-block text-black-50">Alternative Filters</h4>
                    </div>
                    <div class="bs_feature incorrectCircle">
                        <ul class="wrongCircle">
                            <li class="correct">Reduces chlorine</li>
                            <li>Reduces calcium</li>
                            <li>Reduces magnesium</li>
                            <li>Standard filtration</li>
                            <li>Limited or no warranty</li>
                            <li>Static nozzle</li>
                            <li>Incompatible fits</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- beauty clinical start -- -->

<!-- -- faq start -- -->
<div class="faq bg_yellow py-75">
    <div class="container">
        <div class="section_header text-center mb-3">
            <h2 class="title-lg">
                The answers to your questions
            </h2>
        </div>
        <div class="accordion" id="accFAQ">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accFAQOne" aria-expanded="true" aria-controls="accFAQOne">
                        <div class="container">How does tap water harm my skin?</div>
                    </button>

                </h2>
                <div id="accFAQOne" class="accordion-collapse collapse show"
                    data-bs-parent="#accFAQ">
                    <div class="accordion-body">
                        <div class="container">
                            <p>Facial skin is more sensitive than your skin anywhere else. Your skin barrier is
                                like a protective shield against outside threats. But the stuff in tap water can
                                harm it, leading to:</p>
                            <ul>
                                <li>Dry and Damaged Skin: Tap water can strip away your skin's natural oils,
                                    leaving it dry and damaged.</li>
                                <li>Skin Irritation: It might also cause skin irritation, making it sensitive
                                    and red.</li>
                                <li>Premature Aging: The chemicals in tap water can even speed up the aging
                                    process, causing wrinkles and fine lines.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accFAQTwo" aria-expanded="false" aria-controls="accFAQTwo">
                        <div class="container">What does it filter in the water?</div>
                    </button>
                </h2>
                <div id="accFAQTwo" class="accordion-collapse collapse" data-bs-parent="#accFAQ">
                    <div class="accordion-body">
                        <div class="container">
                            <p>The Qure Faucet Filter improves your tap water by reducing skin irritants that
                                make your tap water “hard” – like chlorine, magnesium, calcium, heavy metals,
                                microorganisms and more.</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accFAQThree" aria-expanded="false" aria-controls="accFAQThree">
                        <div class="container">What skin types can benefit from Q-urify Water Filter?</div>
                    </button>
                </h2>
                <div id="accFAQThree" class="accordion-collapse collapse" data-bs-parent="#accFAQ">
                    <div class="accordion-body">
                        <div class="container">
                            <p>Every skin type! Especially helpful for anyone experiencing sensitive skin,
                                premature aging, dry skin, and acne. By reducing irritants and softening the
                                water, it helps maintain skin hydration and minimizes redness, leaving your skin
                                balanced and healthy.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accFAQFour" aria-expanded="false" aria-controls="accFAQFour">
                        <div class="container">Where can I buy replacement filters?</div>
                    </button>
                </h2>
                <div id="accFAQFour" class="accordion-collapse collapse" data-bs-parent="#accFAQ">
                    <div class="accordion-body">
                        <div class="container">
                            <p>Replacement filters can be purchased on our site for 3 months of pure water. We
                                also offer convenient subscription plans so you never have to worry about
                                running out—just set it and forget it, and we’ll take care of the rest.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accFAQFive" aria-expanded="false" aria-controls="accFAQFive">
                        <div class="container">Will it fit my faucet?</div>
                    </button>
                </h2>
                <div id="accFAQFive" class="accordion-collapse collapse" data-bs-parent="#accFAQ">
                    <div class="accordion-body">
                        <div class="container">
                            <p>It’s compatible with almost every circular removable aerator! Each Qure Faucet
                                Filter kit comes with a set of adaptors to help fit different faucet sizes.
                                Please note that it will NOT fit faucets that are square or oval shaped, pull
                                out, hand-held, spray-style, or faucets with a sensor.</p>
                                <div class="faq_img_wrap mt-4">
                                    <img src="https://qureskincaredns.com/new/assets/qurify_faq_1.webp" alt="" class="img-fluid">
                                    <img src="https://qureskincaredns.com/new/assets/qurify_faq_2.webp" alt="" class="img-fluid">
                                    <img src="https://qureskincaredns.com/new/assets/qurify_faq_3.webp" alt="" class="img-fluid">
                                    <img src="https://qureskincaredns.com/new/assets/qurify_faq_4.webp" alt="" class="img-fluid">
                                    <img src="https://qureskincaredns.com/new/assets/qurify_faq_5.webp" alt="" class="img-fluid">
                                    <img src="https://qureskincaredns.com/new/assets/qurify_faq_6.webp" alt="" class="img-fluid">
                                    <img src="https://qureskincaredns.com/new/assets/qurify_faq_7.webp" alt="" class="img-fluid">
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="article faq_expandable">
                <div class="faq__wrapper">
                    <div class="faq__hidden-div hidden">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#accFAQSix"
                                    aria-expanded="false" aria-controls="accFAQSix">
                                    <div class="container">Can I turn OFF the filtered water? </div>
                                </button>
                            </h2>
                            <div id="accFAQSix" class="accordion-collapse collapse"
                                data-bs-parent="#accFAQ">
                                <div class="accordion-body">
                                    <div class="container">
                                        <p>Yes! The Qure Faucet Filter has the option of switching off filtered
                                            water. You can turn on and off the purified/tap water by switching
                                            the toggle button to “Q” for purified water, and to the tap symbol
                                            for unfiltered water. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#accFAQSeven"
                                    aria-expanded="false" aria-controls="accFAQSeven">
                                    <div class="container">What’s the difference between ‘hard water’ and ‘soft
                                        water’?</div>
                                </button>
                            </h2>
                            <div id="accFAQSeven" class="accordion-collapse collapse"
                                data-bs-parent="#accFAQ">
                                <div class="accordion-body">
                                    <div class="container">
                                        <p>Hard water is water that contains a high quantity of dissolved
                                            minerals (like calcium and magnesium). Where soft water has been
                                            treated, so that the only ion remaining is sodium. When rainwater
                                            falls, it is naturally soft.</p>
                                        <p>However, as water makes its way through the ground and into our
                                            waterways, it picks up minerals like chalk, lime, calcium and
                                            magnesium and becomes hard water. Hard water is to blame for dishes
                                            with spots, dingy looking clothes, and residue and soap scums in
                                            bathrooms. Soap and cleansers are also less effective with hard
                                            water due to its reaction to the magnesium and calcium, which makes
                                            the lather not as rich and bubbly and leaves hair feeling sticky and
                                            dull.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- new added start -->
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#accFAQSeven_2"
                                    aria-expanded="false" aria-controls="accFAQSeven_2">
                                    <div class="container">What’s included?</div>
                                </button>
                            </h2>
                            <div id="accFAQSeven_2" class="accordion-collapse collapse"
                                data-bs-parent="#accFAQ">
                                <div class="accordion-body">
                                    <div class="container">
                                        <div class="chest_pdp_ftr1">
                                            <div class="cp_ftr_wrapper p-0">
                                                <div class="cp_item">
                                                    <img src="https://qureskincaredns.com/new/assets/faucet_filter.svg" alt="">
                                                    <p>Qure Faucet Filter Device with a 360° nozzle</p>
                                                </div>
                                                <div class="cp_item">
                                                    <img src="https://qureskincaredns.com/new/assets/qurify_faucet.svg" alt="">
                                                    <p>Multiple adapters to match various faucet types</p>
                                                </div>
                                                <div class="cp_item">
                                                    <img src="https://qureskincaredns.com/new/assets/qurify_user-manual.svg" alt="">
                                                    <p>Step-by-step user manual + QR code with video guide</p>
                                                </div>
                                                <div class="cp_item">
                                                    <img src="https://qureskincaredns.com/new/assets/qurify_all-in-one.svg" alt="">
                                                    <p>All-in-one tools for installation and secure attachment</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="faq-ask">
                            <a href="faq.html">Don’t see your question? Ask us</a>
                        </div>
                    </div>
                    <div class="faq__accordion faq_ques">Show More Questions</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- --faq end -- -->

<script src="https://fast.wistia.com/embed/medias/3ahwzg8wjz.jsonp" async></script>
<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        $('.read-more').click(function () {
            $(this).prev().slideToggle();
            if (($(this).text()) == "Read More") {
                $(this).text("Read Less");
            } else {
                $(this).text("Read More");
            }
        });
        const container = document.querySelector('.comparsion_inner');
        document.querySelector('.slider').addEventListener('input', (e) => {
            container.style.setProperty('--position', `${e.target.value}%`);
        })
    })
</script>